<footer class="site-footer">
	
	<a onclick="on()" class="smiley">☺</a>
	<a href="mailto:{{ site.email }}"><i class="far fa-envelope" aria-hidden="true"></i></a>
	<a href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>

</footer>

<div id="colofun">
	<main>
		<blockquote>
			<p>Made with <a href="https://www.omfgdogs.com/" target="_blank">joy</a>, 2017&ndash;2018.</p>
		</blockquote>
		<p>Hosted on GitHub. Typefaces used: FF Basic Gothic, Source Code Pro, and Source Sans Pro.</p>
	</main>
</div>

<script>
	function on() {
    document.getElementById("colofun").style.display = "block";
	}
</script>