<footer class="site-footer">
	
	<a onclick="on()" class="smiley">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 18 18;" xml:space="preserve">
		<style type="text/css">
			.st0{fill:#FFFFFF;}
		</style>
		<rect x="0" class="st0" width="18" height="18"/>
		<g>
			<path d="M18,9c0,2.5-0.9,4.6-2.6,6.4S11.5,18,9,18c-2.5,0-4.6-0.9-6.4-2.6S0,11.5,0,9c0-2.5,0.9-4.6,2.6-6.4S6.5,0,9,0
				c2.5,0,4.6,0.9,6.4,2.6S18,6.5,18,9z M16.7,9c0-2.1-0.8-3.9-2.2-5.4C13,2.1,11.1,1.3,9,1.3c-2.1,0-3.9,0.7-5.4,2.2S1.3,6.9,1.3,9
				c0,2.1,0.7,3.9,2.2,5.4s3.3,2.3,5.4,2.3c2.1,0,3.9-0.8,5.4-2.3C16,12.9,16.7,11.1,16.7,9z M6.7,7.2c0,0.3-0.1,0.6-0.3,0.8
				C6.2,8.2,5.9,8.3,5.6,8.3C5.3,8.3,5,8.2,4.8,8C4.5,7.7,4.4,7.5,4.4,7.2c0-0.3,0.1-0.6,0.3-0.8C5,6.1,5.3,6,5.6,6
				c0.3,0,0.6,0.1,0.8,0.3S6.7,6.8,6.7,7.2z M4.9,11.9l0.9-0.5c0.7,1.4,1.8,2,3.3,2s2.5-0.7,3.3-2l0.9,0.5c-0.5,0.9-1,1.6-1.7,2
				c-0.7,0.5-1.5,0.7-2.4,0.7c-0.9,0-1.7-0.2-2.4-0.7C5.9,13.5,5.3,12.8,4.9,11.9z M13.6,7.2c0,0.3-0.1,0.6-0.3,0.8
				c-0.2,0.2-0.5,0.3-0.8,0.3c-0.3,0-0.6-0.1-0.8-0.3c-0.2-0.2-0.3-0.5-0.3-0.8c0-0.3,0.1-0.6,0.3-0.8S12.1,6,12.5,6
				c0.3,0,0.6,0.1,0.8,0.3C13.5,6.6,13.6,6.8,13.6,7.2z"/>
		</g>
		</svg>
	</a>
	<a href="mailto:{{ site.email }}"><i class="far fa-envelope" aria-hidden="true"></i></a>
	<a href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>

</footer>

<div id="colofun">
	<main>
		<blockquote>
			<p>2017&ndash;2018<a href="https://www.omfgdogs.com/" target="_blank" style="color:red">.</a></p>
		</blockquote>
		<p>Hosted on GitHub. Typefaces used: FF Basic Gothic, Source Code Pro, and Source Sans Pro.</p>
	</main>
</div>

<script>
	function on() {
    document.getElementById("colofun").style.display = "block";
	}
</script>