<header class="site-header" role="banner">
	<div class="menu small">
		<ul>
			<li><a href="http://vannavu.com">work</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="/play">play</a></li>
		</ul>
	</div>
	<div class="name_plate">
		<a href="http://vannavu.com"><img src="../images/name_plate.svg"></a>
	</div><div class="menu big">
		<ul>
			<li><a href="http://vannavu.com">work</a></li>
			<li><a href="/about">about</a></li>
			<li><a href="/play">play</a></li>
		</ul>
	</div>
</header>
