<header role="banner">
	<div class="wrapper">
		<ul>
			<li id="home"><a href="/"><span class="kern_v1">V</span>ANNA <span class="kern_v2">V</span>U</a></li>
			<div id="header_pages">
				<li id="projects"><a href="/projects/"><img src="/images/logo/reuleaux.svg">Projects</a></li>
				<li id="fragments"><a href="/fragments/"><img src="/images/logo/square.svg">Fragments</a></li>
				<li id="annotations"><a href="/annotations/"><img src="/images/logo/circle.svg">Annotations</a></li>
				<li id="information"><a href="/information/"><img src="/images/logo/plus.svg">Information</a></li>
			</div>
		</ul>
	</div>
</header>
