#circle {
  fill: #05D58C;
}

#square {
  fill: #0061FF;
}

#reuleaux-triangle {
  fill: black;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

#logo {
  animation: rotate 16s linear infinite;
}
