<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="annotations">
    <div id="graph"></div>
      {% include header.html %}
      <div class="wrapper">
      <a href="/annotations"><h1>A N N O T A T I O N S</h1></a>
      {% include sidebars/annotations_sidebar.html %}
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

  </body>

</html>
