<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="wrapper">
      {% include header.html %}
    </div>

      <main class="page-content" aria-label="Content">
        <div class="wrapper">{{ content }}</div>

        <div class="wrapper_boxes">
        
          <a href="/work/prompt"><div class="box" id="one"></div></a>

          <a href="/work/vitamin_box"><div class="box" id="two"></div></a>

          <a href="/work/google_it"><div class="box" id="three"></div></a>

          <a href="/work/book_cover"><div class="box" id="four"></div></a>

          <a href="/work/poster_calendar"><div class="box" id="five"></div></a>

          <a href="/work/univers_type_book"><div class="box" id="six"></div></a>

          <a href="/work/rockets_poster"><div class="box" id="seven"></div></a>

          <a href="/work/museum_brochure"><div class="box" id="eight"></div></a>

          <a href="/work/business_card"><div class="box" id="nine"></div></a>
        
        </div>

      </main>

    <div class="wrapper">
      {% include footer.html %}
    </div>

  </body>

</html>
