<!DOCTYPE html>
<html>
<head>
  <title>Vanna Vu</title>
  <style>
    body {
      background-color: whitesmoke;
      font-family: "Helvetica", Arial, sans-serif;
      text-align: center;
    }
    h1 {
      letter-spacing: .5em; 
    }
    a {
      color: red;
      text-decoration: none;
      font-weight: normal;
    }
  </style>
</head>
<body>
  <h1><i>UNDER CONSTRUCTION</i></h1>
  <h2><a href="http://buttersafe.com/2017/09/26/i-just-feel-like-napping/">> go here for now</a></h2>
</body>
</html>


