<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/css/work.css" | relative_url }}">

  <body style="margin: 3em; max-width: 1000px">
    <h2>(Site in progress)</h2>
    <br>
    <h2>I’m Vanna Vu, and I will soon be graduating with a BFA in Communication Design at Washington University in St. Louis.<br><br>
    I’m interested in combining programmatic thinking with craft and design. This has resulted in websites, books, paper objects, animations, type design(!), etc.<br><br>
    —<br>
    Though the font is a work in progress, I just finished up my [<a style="color: black; text-decoration: none" href="https://vannavu.com/zazz/" target="_blank">capstone</a>].<br><br>
    <img src="../images/zazz_card.gif">
    ↑ The on-site experience also allowed people to print custom type samples directly from the site’s type tester / pattern maker.
    <br><br>
    —<br>
    More [<a style="color: black; text-decoration: none" href="https://www.instagram.com/vanna_vu/" target="_blank">here</a>] + [<a style="color: black; text-decoration: none" href="https://vannavu.com/referencerepository/" target="_blank">here</a>] +  [<a style="color: black; text-decoration: none" href="https://www.are.na/vanna-vu/blocks?sort=UPDATED_AT" target="_blank">here</a>].</h2>
    <br>
    <h2>[<a style="color: black; text-decoration: none"href="mailto:vannavu@wustl.edu">vannavu@wustl.edu</a>]</h2>
    <p></p>
  </body>

</html>
