<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/css/work.css" | relative_url }}">

  <body style="margin: 3em; max-width: 1000px">
    <h2>(Site in progress)</h2>
    <br>
    <h2>I’m Vanna Vu, and in August 2019, I completed my BFA in Communication Design at Washington University in St. Louis. I am currently freelancing while searching for employment and mentorship in Minneapolis or St. Paul.<br><br>
    I’m interested in combining programmatic thinking with craft and design. This has resulted in websites, books, paper objects, animations, type design(!), etc.<br><br>
    —<br>
    In the spring, I finished my [<a style="color: black; text-decoration: none" href="https://vannavu.com/zazz/" target="_blank">capstone</a>].<br><br>
    <a href="https://vannavu.com/zazz/" target="_blank"><img src="../images/zazz_card.gif"></a>
    ↑ The on-site experience also allowed people to print custom type samples directly from the site’s type tester / pattern maker.
    <br><br>
    More information about the project can be found [<a style="color: black; text-decoration: none" href="https://vannavu.com/capstone_process/" target="_blank">here</a>].
    <br><br>
    —<br>
    More [<a style="color: black; text-decoration: none" href="https://vannavu.com/referencerepository/" target="_blank">here</a>] + some activity [<a style="color: black; text-decoration: none" href="https://www.instagram.com/vanna_vu/" target="_blank">here</a>].
    <br><br>
    —<br>
    → email [<a style="color: black; text-decoration: none"href="mailto:v@vannavu.com">v@vannavu.com</a>]
  </h2>
  </body>

</html>
