<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/css/work.css" | relative_url }}">

  <body style="background:black; margin: 3em">
    <h2 style="color: white">(Site in progress)</h2>
    <br>
    <h2 style="color: white">I’m Vanna Vu. I am in my last semester of the Communication Design program at Washington University in St. Louis and am looking for opportunities starting this fall.
    Though the font is still being improved, I just finished up my [<a style="color: white; text-decoration: none" href="https://vannavu.com/zazz/" target="_blank">capstone</a>].<br><br>
    For now, you can see project snippets and get a sense of my interests [<a style="color: white; text-decoration: none" href="https://vannavu.com/referencerepository/" target="_blank">here</a>] + [<a style="color: white; text-decoration: none" href="https://www.instagram.com/vanna_vu/" target="_blank">here</a>] + [<a style="color: white; text-decoration: none" href="https://www.are.na/vanna-vu/blocks?sort=UPDATED_AT" target="_blank">here</a>].</h2>
    <br>
    <h2 style="color: white">vannavu@wustl.edu</h2>
    <p></p>
  </body>

</html>
